.img{
    width: 100%;
    height: 100vh;
    object-fit: cover;

}
.hero{
    position: relative;
}
/* .hero-title{
    position: absolute;
    top: 0;
    color: white;
} */

.tint{
    /* background-color: rgba(0, 0, 0, 0.738); */
    /* background-color: rgba(0, 0, 0, 0.084); */
    background-color: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);;
    /* top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    transform: translate(1.2); */
  background: rgba(0, 0, 0, 0.695);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;


}
body{
    margin: 0;
    font-family: 'inter', sans-serif;
}
.he1{
    font-size: 24px;

    /* position: absolute; */
}
.he2{
    font-size: 18px;
    /* position: absolute; */
}
.hero-content{
    text-align: center;
    position: absolute;
    top: 0;
    color: white;
    
    padding-left: 10%;
    margin: auto;
    
    margin-top: 17%;
    
    

}
.he3{
    width: 360px;
    padding: 16px;
    color: aliceblue;
    background: transparent;
}
.btn{
    padding: 16px 32px;
    font-size: large;
    background-color: rgb(255, 37, 8);
    color: white;
   
}
.hero-title{
    font-size: 52px;
}
.logo{
    width: 170px;
    height: 50px;
}
.btnn{
    
    padding: 9px 18px;
    background-color: rgb(255, 37, 8);
    color: white;
 border: none;   border-radius: 4px;
}
.header{
    display: flex;
    justify-content: space-between;
    width: 1200px;
   margin: auto;
   
    position: absolute;
   bottom: 447px;
   
    
}
/* .g{
    display: flex;
   align-items: center;
   gap: 6px;
   position: absolute;
   padding-left: 25%;
} */
.ab{
    padding: 8px;
    color: rgb(255, 22, 22);
    background-color: transparent;
}
.container{
    background-color: black;
    color: white;
    margin: auto;
    display: flex;
    align-items: center;
    width: 1100px;
    padding: 4vmax 0;

}
section{
    background-color: rgb(0, 0, 0);
    border-bottom: 8px solid rgb(77, 74, 74);
    }
.title{
    font-size: 3vmax;
    font-weight: 900;

}
.desc{
    font-size: 1.725vmax;
}
.l-box{
    width: 50%;
}
body{
    
}
.video{
    /* height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;z-index: -1;top: 0; */
    position: absolute;
   
    /* left: 50%; */
    /* margin: auto; */
    /* right: 60%; */
    /* height: 100%;
    width: 100%; */
    right:  500px; 
    top: 20%;   left: 13%;
    /* height: 100%;
    width: 100%; */
    
    object-fit: contain;
    width: 467px;

}
.tv{
    /* height: 100%;
    width: 100%;position: relative;overflow: hidden; */
    /* z-index: 10; position: relative; */
    /* height: 100%;
    width: 100%; */
    position: relative;
    /* height: 100%;overflow: hidden;
    width: 100%; */
    /* overflow: hidden; */
    overflow: hidden;
    object-fit: contain;z-index: 10;
    
}
.r-box{
    /* height: 100%;
    width: 100%;position: relative;overflow: hidden;
    z-index: 10; */
    position: relative;
    /* height: 100%;
    width: 100%; */
    
}
/* .s2{
    background-color: black;

}
.i2{
   height: 0px;
    
}
.boxshot{
    color: white;
    /* border: 1px solid white; */
    /* left: 40px;
    padding: 16px 30px;
    
    width: 350px;justify-content: center;margin: auto;
    
} */
/* .an{
    text-decoration: none;
    color: rgb(68, 100, 246);
} */
/* .container2{
    display: flex;width: 600px;
    border: 1px solid white;
} */
/* .pm{
    display: flex;
    align-items: center;
    gap: 8px;
}
.container2{
    width: 500px;
    border: 1px solid white;
    margin: auto;
    
}
.i1{
    box-sizing: border-box;
    width: 100%;
    top: 90px;

} */ 
.imgg2{
    width: 200px;
border: 1px solid white;
justify-content: center;margin-left: 60%;
border: none;


}
.imgg2-img{
    width: 100px;

    
}
.desc{
    color: white;
    width: 300px;
    font-size: large;
    padding: 22px;gap: 5px;
    
}
.imgg1{
    display: flex;
    align-items: center;
    border: 3.7px solid grey;
    /* width: 240px; */
    left: 50px;
    height: 170px;
    width: 290px;
    padding: 5px;
 margin-bottom: 5%;justify-content: center;
 margin-left: 25.5%;
 border-radius: 14px;

}
a{
    text-decoration: none;
    color: rgb(0, 136, 255);
}

.class1{
    margin-left: 50px;
    
}
.imgg{
    position: relative;
    
}
.d{
    width: 700px;
    height: 200px;
    color: white;
    /* border: 1px solid lightgray; */
    overflow: visible;
    padding: 12px;
    /* border: 1px solid gray; */
    margin-top: 130px;
    font-size: xx-large;
}
.class{
    display: flex;
}
p{
    font-size: 25px;
    color: rgb(112, 105, 105);
}
.title3{
    color: white;
}
.box{
    
        width: 700px;
        height: 200px;
        color: white;
        /* border: 1px solid lightgray; */
        overflow: visible;
        padding: 12px;
        /* border: 1px solid gray; */
        
        font-size: xx-large;
        margin: 100px auto;
}
.container3{
    display: flex;
    justify-content: center;
}
.box1{
    display: flex;
    
}
.video1{
    position: absolute;
    padding-left: 8%;
    width: 370px;
    height: 200px;
    padding-top: 79px;
    

}
.cm{
    display: flex;
    
}
.mtitle{
    color: white;
    margin-top: 0;
    text-align: center;font-size: 60px;padding-top: 70px;
}
.divs{
    /* height: 500px; */
    /* border: 1px solid white; */
    display: flex;
    width: 1100px;margin: auto;
    flex-direction: column;
    gap: 10px;
    
}
.div{
    gap: 5px;height: 50px;
   
    display: flex;background-color: rgba(250, 235, 215, 0.149);
    width: 1100px;margin: auto;padding: 17px;justify-content: space-between;align-items: center;
}
.div:hover{
    color: rgb(199, 20, 20);
    background-color: rgb(72, 66, 66);
}
.titlem{
    color: white;
}
.ppp{
    font-size: 80px;
}
.gg{
    margin: auto;
}
.btm{
    padding: 14px 32px;
    background-color: rgb(225, 60, 60);
    color: white;
    font-size: larger;
}
.m{
    width: 360px;
    padding: 16px;
    color: aliceblue;
    background: transparent;
}
.mail{
    justify-content: center;
    align-items: center;display: flex;
    gap: 5px;
    padding-top: 10px;
    margin-bottom: 20px;
}
.h{
    color: white;text-align: center;
    padding-top: 20px;
}

.canada{
    /* margin-top: 0; */
}
.s5{
    
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
td{
    color: rgba(216, 216, 210, 0.622);
}
td:hover{
    color: red;
}
    tr{
        color: white;padding: 20px;
        width: 100%;
    }
    tr:hover{
        color: red;
    }
    table{
      width: 1100px;padding-top: 100px;padding-left: 18px;padding-bottom: 200px;margin: auto;text-decoration: 1.9px solid underline grey
      ;
    }
    table:hover{
         color: red;
    }
    .td1{
        padding-bottom: 20px;font-size: larger;
    }
    .s3{
        padding-top: 20px;
    }
    .lastr{
        color: white;
        text-decoration: none;

    }
    .td1{
        color: whitesmoke;
    }
    .td1:hover{
        color: red;
    }